body{
  background-color: black;
}

.main-container{
  display: flex;
  gap:20px;
}

.left-section{
  width: 20%;
  margin:10px;
  height: 200px;
  background-color: red;
}

.right-section{
  width: 80%;
  margin:10px;
  height: 600px;
  background-color: blue;
}

.nav-section{
  display: flex;
  justify-content: space-between;
}

.nav-menu{
  margin:5px;
}

.sub-container{
  width: 100%;
  margin-top:20px;
  background-color: gray;
}

.sub-menu{
  display:flex;
  justify-content: space-between;
  padding:10px;
}

.list{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap:20px;
}

.card-body{
   width: 200px;
   background-color: greenyellow;
   padding-bottom:10px;
}

.image{
  width: 140px;
  display: block;
  margin:15px auto;
}

.heading{
  font-size: 18px;
  font-weight: bold;
  padding: 0px 32px;
}

.footer{
  margin:10px;
  display: flex;
  justify-content: space-between;
}

.left-footer{
  display: flex;
  gap:30px;
  justify-content: space-around;
}

.right-footer{
  margin-top:10px;
  display: flex;
  gap:30px;
  justify-content: space-around;
}

ul li{
  list-style: none;
}

li{
  padding:15px;
}