@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
body {
  margin: 0;
  font-family: "Poppins", sans-serif; 
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
  background-image: linear-gradient(to right, #eea2a2 0%, #bbc1bf 19%, #57c6e1 42%, #b49fda 79%, #7ac5d8 100%);
}

code {
    font-family: "Poppins", sans-serif;
}
.rock {
  background-image: linear-gradient(to top, #c79081 0%, #dfa579 100%);
}
.ghost {
  
  background-image: linear-gradient(to top, #b7b7b8 0%, #e2ebf0 100%);
}
.electric {
  
  background-image: linear-gradient(to right, #f83600 0%, #f9d423 100%);
}
.bug {
  
  background-image: linear-gradient(to top, #e6b980 0%, #eacda3 100%);
}
.poison {
  
  background-image: linear-gradient(to top, #df89b5 0%, #bfd9fe 100%);
}
.normal {
  
  background-image: linear-gradient(-225deg, #E3FDF5 0%, #FFE6FA 100%);
}
.fairy {
  
  background-image: linear-gradient(to top, #ff9a9e 0%, #fecfef 99%, #fecfef 100%);
}
.fire {
  
  background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
}
.grass {
  
  background-image: linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%);
}
.water {
  
  background-image: linear-gradient(120deg, #89f7fe 0%, #66a6ff 100%);
}
.ground{
  
  background-image: linear-gradient(315deg, #772f1a 0%, #f2a65a 74%);
  
}


@import url("https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900");
/* * {
  margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
} */

body {
  display: flex;
	background: #000;
	min-height: 100vh;
	align-items: center;
	justify-content: center;
}
#parent{
  display: flex;
  flex-direction: column;
  width: 100vw;
}

#section{
  font-family: "Poppins", sans-serif;
  position: relative;
  width: 80vw;
  height: 20vh;

	display: flex;
  flex-direction: row;
  align-self: center;

}
.content {
  /* left: 10%; */
  left:5cqmax;
  width: 100%;
  height: 100%;
	position: relative;
  justify-content: center;
  margin-right: 0;
  font-size: 4rem;

}

.content h2 {
  margin-top: 2rem;
  margin-bottom: 2rem;
	color: #fff;
	position: absolute;
  margin-right: 0;

}

.content h2:nth-child(1) {
  /* align-self: center; */
	color: transparent;
	-webkit-text-stroke: 2px #03a9f4;
}

.content h2:nth-child(2) {
	color: #03a9f4;
	animation: animate 4s ease-in-out infinite;
}

@keyframes animate {
	0%,
	100% {
		clip-path: polygon(
			0% 45%,
			16% 44%,
			33% 50%,
			54% 60%,
			70% 61%,
			84% 59%,
			100% 52%,
			100% 100%,
			0% 100%
		);
	}

	50% {
		clip-path: polygon(
			0% 60%,
			15% 65%,
			34% 66%,
			51% 62%,
			67% 50%,
			84% 45%,
			100% 46%,
			100% 100%,
			0% 100%
		);
	}
}

.content2 {
  left:5cqmax;
	width: 100%;
  height: 100%;
	position: relative;
  font-size: 4rem;
}

.content2 h2 {
	margin-top: 2rem;
  margin-bottom: 2rem;
	color: #fff;
	position: absolute;
	/* transform: translate(130%, -50%); */
}

.content2 h2:nth-child(1) {
	color: transparent;
	-webkit-text-stroke: 2px #03a9f4;
}

.content2 h2:nth-child(2) {
	color: #03a9f4;
	animation: animate 4s ease-in-out infinite;
}

@keyframes animate {
	0%,
	100% {
		clip-path: polygon(
			0% 45%,
			16% 44%,
			33% 50%,
			54% 60%,
			70% 61%,
			84% 59%,
			100% 52%,
			100% 100%,
			0% 100%
		);
	}

	50% {
		clip-path: polygon(
			0% 60%,
			15% 65%,
			34% 66%,
			51% 62%,
			67% 50%,
			84% 45%,
			100% 46%,
			100% 100%,
			0% 100%
		);
	}
}

.app-container {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 2rem 1rem;
} 
.app-container h1{
  width: 15ch;
  color: rgb(38, 16, 236);
  overflow: hidden;
  white-space: nowrap;
  /* animation: text 4s steps(15) infinite alternate; */
  

}
/* @keyframes text{
  0%{
    width: 0ch;
    
  }
  50%{
    width:15ch;
    color:rgb(218, 55, 5);
  }
} */
.pokemon-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.all-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}


.opaquescreen{
  border: 2px solid black;
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 100%;
  max-width: 100%;
  min-height: 100%;
  max-height: 110%;
  z-index: 9;
  position: fixed;
  top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transform-origin: 50% 50%;
    background-color: rgb(0, 0, 0,0.55);
  /* pointer-events: none; */
  overflow: hidden;
  
}
.thumb-container {
  display: flex;
  position: relative ;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1.5rem 0.2rem;
  margin: 0.3rem;
  border: 1px solid #efefef;
  border-radius: 1rem;
  min-width: 160px;
  width: 200px; /* Added fixed width */
  text-align: center;
  box-shadow: 0 3px 15px rgba(0, 0, 0, 0.089);
  transition: transform 0.3s ease-in-out;
}

.thumb-container:hover {
  /* margin: 0.7rem 0; */
  z-index: 1;
  transform: scale(1.2);
  border-radius: 10px;
}

h3 {
  margin-bottom: 0.2rem;
}
.thumb-container .number {
  border-radius: 1rem;
  padding: 0.2rem 0.4rem;
  background-color: rgba(255,255,255,0.3);
}
.thumb-container img {
  width: 120px;
  height: 120px;
}

.thumb-container small {
  text-transform: capitalize;
}
.detail-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  /* z-index: 2; */
}
.detail-wrapper button {
  color: rgb(22, 22, 22);
  padding: .5rem;
  margin-top: 1rem;
  border: none;
  border-radius: 0.2rem;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.185);
}
.load-more {
  
  background-color: #76daff;
background-image: linear-gradient(315deg, #76daff 0%, #fcd000 74%);
  border-radius: 6px;
  border: 1px solid #c6c6c6;
  color: #444;
  padding: 0.5rem 1.5rem;
  min-width: 20%;
  margin-top: 1rem;
  font-family: "Poppins", sans-serif;
  
}
button:hover{
  background-color: #ff0000;
  background-image: linear-gradient(315deg, #ff0000 0%, #ffed00 74%);
}
.pokeinfo{
  margin: 0 25px;
  font-family: "Poppins", sans-serif;
  background-image: linear-gradient(180deg, #2af598 0%, #009efd 100%);
}
.pokeinfo:hover{
  background-image: linear-gradient(-20deg, #ddd6f3 0%, #faaca8 100%, #faaca8 100%);
}
h3{
  text-decoration: underline;
}
.expanded-overlay {
    border: 2px solid black;
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 50%;
    max-width: 100%;
    min-height: 20%;
    max-height: 110%;
    z-index: 10;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transform-origin: 50% 50%;
  box-shadow: 0 0 18px rgba(0, 0, 0.2, 0.6);
}

.expanded-left {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 3rem;
    margin-left: 3rem;
}

.expanded-image {
    width: 200px;
    height: auto;
    margin-bottom: 1rem;
}

.expanded-name {
    font-size: 1.5rem;
}

.expanded-right {
    flex: 2;
    display: flex;
    flex-direction: row;
}

.expanded-description {
    font-size: 1rem;
    margin-right: 2rem;
}

.close-button {
    color: black;
    font-weight: bolder;
    position: absolute;
    top: 1rem;
    right: 1rem;
    padding: 0.5rem;
    border: none;
    width: 2.3rem;
    height: 2.3rem;
    border-radius: 50%;
    cursor: pointer;
}

.close-button:focus {
    outline: none;
} 

.expanded-table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .expanded-table td {
    padding: 8px;
  }
  
  .expanded-table tr td:nth-child(1) {
    font-weight: bolder;
  }
  
  /* .expanded-table tr.bold-row td:nth-child(2) {
    font-weight: bold;
  } */
  