.box{
  width: 800px;
  height: 800px;
  border:2px solid red;
}

.local-box{
  width: 300px;
  height: 300px;
  border:1px solid black;
}

.bg-light{
  background-color: #eeeeee;
}

.bg-dark{
  background-color: #1f1d36;
}