.App{
  display: flex;
  gap:5px;
  justify-content: center;
}

.leftBar{
  width: 18%;
  height: 1000px;
  background-color: red;
}

.rightBar{
  width: 78%;
  height: 1000px;
  background-color: blue;
}

.footer{
  display: flex;
  justify-content: center;
}

.sectionOne{
  width: 25%;
  height: 400px;
  background-color: yellow;
}

.sectionTwo{
  width: 25%;
  height: 400px;
  background-color: green;
}

.sectionThree{
  width: 25%;
  height: 400px;
  background-color: rgb(25, 0, 255);
}

.sectionFour{
  width: 25%;
  height: 400px;
  background-color: pink;
}